[submodule "third_party/models"]
	path = tftrt/examples/third_party/models
	url = https://github.com/tensorflow/models
[submodule "third_party/cocoapi"]
	path = tftrt/examples/third_party/cocoapi
	url = https://github.com/cocodataset/cocoapi
